@import "base";

body {
	position: relative;
	background-color: $default-background-color;
}

div#login-bounding {
	position:absolute;
	min-width: 350px;
	width: 25%;
	top: 50%;
	left: 50%;
	@include vendor-prefix(transform, translate(-50%, -75%));

	h2#login {
		text-align: center;
	}
	
	div#error{
		@extend .well;
		$vertical-margin: 5px;
		padding: 5px;
		margin-top: $vertical-margin;
		margin-bottom: $vertical-margin;
		border: 1px solid #FF6956;
		background-color: #FE7F70;
		text-align: center;
	}

	form#login-form {
		$vertical-margin: 5px;
		input {
			width: 100%;	
			margin-top: $vertical-margin;
			margin-bottom: $vertical-margin;
		}	
		input.error{
			border-color: #FF2222 !important;
		}
		/*Overrides Pure's invalid property, which I don't want to use.*/
		input:focus:invalid{
			border-color: #129FEA;
		}
		button {
			float:right;	
		}
	}
}

