@import "base";

body {
	background-color: $default-background-color;
}


div#main-container{
	width: 100%;
	width: 100%;
	text-align: center;
}

div#content-container{
	display:inline-block;

	h2#title { 
		margin-left: auto;
		margin-right: auto;
		text-align: center;	
	}
}

ul#posts-list { 
	padding-left: 0;
	list-style-type: none;	

	li.post {
		text-align: left;
		margin-left: auto;
		margin-left: auto;
		font-size: 15pt;

		span.buttons {
			float: right;
			color: #000;

			a {
				color: #000;
			}
		}
	
		soan.button {
			display: block;
		}

		span.button:hover {
			cursor: pointer !important;	
		}

		span.button.edit {
			margin-left: 80px;	
		}

		span.button.edit:hover {
			color: #3533FF;	
		}

		span.button.delete:hover {
			color: #FF3533;	

		}
	}
}

button.delete {
	color: white;
	background-color: #EA3C3C;

}

span.can-not {
	font-weight: 500;
}
