div.post {
	margin-left: 10%;
	margin-right: 10%;
	
	h3.post-title {
		margin-bottom: 0px;	
		padding-bottom: 0px;
	}

	div.post-metadata {
		$vertical-margin: 10px;
		font-size: 13pt;
		font-weight: 300;
		margin-top: $vertical-margin - 5px; /*Fixes inequality between h3 and top of text */
		margin-bottom: $vertical-margin;
	}

	div.post-body {
		width:100%;
		word-wrap: break-word;
		font-size: 12pt;
		font-weight: 200;
	}

}
