@import "base";

ul#posts-list{
	list-style-type: none;
	margin-left: 10%;
	margin-right: 10%;

	li.post {
		
		h2.post-title {
			font-weight: 400;
			margin-bottom: 0px;	
			padding-bottom: 0px;
		}

		div.post-metadata {
			$vertical-margin: 10px;
			font-size: 13pt;
			font-weight: 300;
			margin-top: $vertical-margin - 5px; /*Fixes inequality between h3 and top of text */
			margin-bottom: $vertical-margin;
		}

		div.post-body {
			@extend .well;
			width: 100%;
			word-wrap: break-word;
			@include vendor-prefix(hyphen, auto);
			font-size: 12pt;
			font-weight: 200;
		}

		blockquote {
			padding-left: 8px;
			border-left: 5px solid #ccc;
		}

		pre[class*="language-"]	{
			border-radius: 5px;	
		}
	}

	ul#tags-list{
		@extend .well;

		list-style-type: none;
		width: 100%;
		$vertical-padding: 7px;
		margin-top: 8px;
		padding-top: $vertical-padding;
		padding-bottom: $vertical-padding;

		li.tag{
			display: inline;
			margin-left: 0px;
			margin-right: 10px;
		}
	}
}
