@import "base";

body {
	background-color: $default-background-color;
}

div#login-bounding {
	display: table;
	height: 100%;
	width: 100%;

	div#main-wrapper {
		display: table-cell;
		text-align: center;
		vertical-align: middle;

	}
}

form#login-form {
	width: 25%;
	min-width: 350px;
	$vertical-margin: 5px;
	margin-left: auto;
	margin-right: auto;
	input {
		width: 100%;
		margin-top: $vertical-margin;
		margin-bottom: $vertical-margin;
	}
	input.error {
		border-color: #FF2222 !important;
	}
	/*Overrides Pure's invalid property, which I don't want to use.*/
	input:focus:invalid {
		border-color: #129FEA;
		color: #000;
	}
	button {
		float:right;
	}
}
