@import "base";

li.user {
	$fade-time: 100ms;
	$slide-time: 250ms;
	$font-size: 15pt;
	opacity: 1;
	transition-property: opacity, visibility, height;
	transition-duration: $fade-time, $fade-time, $slide-time;
	font-size: $font-size;
	height: $font-size + 3pt;

	span.user-info-button {
		margin-left: 5px;
	}
	span.user-info-button:hover {
		color: #297AD4;
	}
}

li.user.fading {
	opacity: 0;
}

#add-user-modal {
	width: 350px;
	div.modal-body {
		form > button {
			display: none;
		}
		div.checkbox, input[type="text"], input[type="password"] {
			display: block;
			margin-bottom: 15px;
			width: 100%;
		}
	}
	div.modal-buttons {
		$initial-opacity: .8;
		$initial-scale: .95;
		$button-width: 80px;
		$button-height: 34px;
		$spinner-radius: $button-height;
		$spinner-width: $button-width;
		$spinner-height: $button-height;
		$disable-duration: 350ms;

		button.positive {
			color: white;
			background-color: #CA3C3C;
		}

		button.positive.working:before {
			position: fixed;
			bottom: 20px;
			right: 11px;
			background-color: white;
			content:"";
			display: block;
			width: $spinner-width;
			height: $spinner-height;
			transform: scale($spinner-height / $spinner-width * $initial-scale, $initial-scale);
			border-radius: 100%;
			opacity: $initial-opacity;
			animation: ripple 1.25s cubic-bezier(0, 1.69, 0.7,-0.44) infinite;
		}

		@keyframes ripple {
			0% {
				opacity: $initial-opacity;
				transform: scale($spinner-height / $spinner-width * $initial-scale, $initial-scale);
			}
			100% {
				 opacity: 0;
				 transform: scale(1);
				 border-radius: 5px;
			}
		}
	}
}

#user-info-modal {
	min-width: 350px;
	h5 {
		$vertical-margin: 5px;
		margin-top: $vertical-margin * 2;
		margin-bottom: $vertical-margin;
	}
	#permissions-display {
		margin: 0;
		padding-left: 0;

		li.permission {
			list-style: none;
			padding-left: 0px;
		}
	}
}

#change-password-modal {
	min-width: 275px;
	div.modal-body {
		input {
			display: block;
			margin-bottom: 15px;
			width: 100%;
		}
		button {
			display: none;
		}
	}
	div.modal-buttons {
		$initial-opacity: .8;
		$initial-scale: .95;
		$button-width: 80px;
		$button-height: 34px;
		$spinner-radius: $button-height;
		$spinner-width: $button-width;
		$spinner-height: $button-height;
		$disable-duration: 350ms;

		button.positive {
			color: white;
			background-color: #CA3C3C;
		}

		button.positive.working:before {
			position: fixed;
			bottom: 20px;
			right: 17px;
			background-color: white;
			content:"";
			display: block;
			width: $spinner-width;
			height: $spinner-height;
			transform: scale($spinner-height / $spinner-width * $initial-scale, $initial-scale);
			border-radius: 100%;
			opacity: $initial-opacity;
			animation: ripple 1.25s cubic-bezier(0, 1.69, 0.7,-0.44) infinite;
		}

		@keyframes ripple {
			0% {
				opacity: $initial-opacity;
				transform: scale($spinner-height / $spinner-width * $initial-scale, $initial-scale);
			}
			100% {
				 opacity: 0;
				 transform: scale(1);
				 border-radius: 5px;
			}
		}
	}
}
