@import "base";

body {
	background-color: $default-background-color;
}
 
div#main-container {
	display: table;
	width: 100%;
	height: 100%;
	div#content-wrapper {
		display: table-cell;
		vertical-align: middle;
		$vertical-margin: 15px;
		h2#title {
			text-align: center;
			margin-top: $vertical-margin;
			margin-bottom: $vertical-margin;
		}

		div#buttons {
			text-align: center;
			margin-top: $vertical-margin + 5px;
			margin-bottom: $vertical-margin + 5px;
			margin-left: auto;
			margin-right: auto;
			max-width: 450px;

			a {
				text-decoration: none;	
			}

			button {
				$vertical-margin: 5px;
				display: block;
				font-size: 18pt;
				margin-top: $vertical-margin;
				margin-bottom: $vertical-margin;
				width: 100%;
				text-decoration: none;
			}	
		}
	}
}
