@import "base";

li.user {
	$fade-time: 100ms;
	$slide-time: 250ms;
	$font-size: 15pt;
	opacity: 1;
	transition-property: opacity, visibility, height;
	transition-duration: $fade-time, $fade-time, $slide-time;
	font-size: $font-size;
	height: $font-size + 3pt;

	span.user-info-button {
		margin-left: 5px;
	}
	span.user-info-button:hover {
		color: #297AD4;
	}
}

li.user.fading {
	opacity: 0;
}

#add-user-modal {
	width: 350px;
	div.modal-body {
		form > button {
			display: none;
		}
		div.checkbox, input[type="text"], input[type="password"] {
			display: block;
			margin-bottom: 15px;
			width: 100%;
		}
	}
	div.modal-buttons {
		$button-width: 80px;
		$button-height: 34px;

		button.positive {
			color: white;
			background-color: #CA3C3C;
			width: $button-width;
			height: $button-height
		}
	}
}

#user-info-modal {
	min-width: 350px;
	h5 {
		$vertical-margin: 5px;
		margin-top: $vertical-margin * 2;
		margin-bottom: $vertical-margin;
	}
	#permissions-display {
		margin: 0;
		padding-left: 0;

		li.permission {
			list-style: none;
			padding-left: 0px;
		}
	}
}

#change-password-modal {
	min-width: 275px;
	div.modal-body {
		input {
			display: block;
			margin-bottom: 15px;
			width: 100%;
		}
		button {
			display: none;
		}
	}
	div.modal-buttons {
		$button-width: 80px;
		$button-height: 34px;

		button.positive {
			color: white;
			background-color: #CA3C3C;
			height: $button-height;
			width: $button-width;
		}
	}
}

#edit-permissions-modal {
	div.modal-buttons {
		$button-width: 80px;
		$button-height: 34px;

		button.positive {
			height: $button-height;
			width: $button-width;
		}
	}
}

#delete-modal {
	span.can-not {
		font-weight: 500;
	}
	div.modal-buttons {
		$button-width: 80px;
		$button-height: 34px;

		button.positive {
			color: white;
			background-color: #CA3C3C;
			height: $button-height;
			width: $button-width;
		}
	}
}
