@import "base";

body {
	background-color: $default-background-color;
}


div#main-container{
	width: 100%;
	width: 100%;
	text-align: center;
}

div#content-container{
	display:inline-block;

	h2#title {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

ul#posts-list {
	padding-left: 0;
	list-style-type: none;

	li.post {
		$font-size: 15pt;
		$fade-time: 100ms;
		$slide-time: 250ms;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
		height: $font-size + 3pt;
		font-size: $font-size;
		opacity: 1;
		transition-property: opacity, visibility, height;
		transition-duration: $fade-time, $fade-time, $slide-time;

		span.buttons {
			display: inline-block;
			height: $font-size + 3pt;
			float: right;
			color: #000;

			a {
				text-decoration: none;
				color: #000;
			}
		}

		a.button.edit {
			margin-left: 80px;
		}

		a.button.edit:hover {
			color: #3533FF;
		}

		a.button.delete:hover {
			color: #FF3533;

		}

		a.post-title {
			text-decoration: none;
			color: #000;
		}

		a.post-title:hover {
			text-decoration: underline;
			color: #000;
		}
	}

	li.post.deleting {
		opacity: 0;
		height: 0;
		visibility: hidden;
	}

	li.post.deleting > * {
		height: 0 !important;
	}
}

div#delete-modal > div.modal-buttons{
	$button-width: 80px;
	$button-height: 34px;

	button.positive {
		width: $button-width;
		height: $button-height;
	}

	button.positive {
		width: $button-width;
		height: $button-height;
		color: white;
		background-color: #EA3C3C;

	}

	span.can-not {
		font-weight: 500;
	}
}

