body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300; }

button.pure-button {
  border-radius: 5px; }

.well {
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.03); }

div.modal {
  position: fixed;
  width: 40%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  transition-property: top, visibility, opacity;
  transition-duration: 250ms; }
  div.modal h3.modal-title {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee; }
  div.modal div.modal-body {
    height: 100%;
    margin-bottom: 20px; }
  div.modal div.modal-buttons {
    float: right; }

div.modal.active {
  visibility: visible;
  opacity: 1;
  top: 50%; }

div.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .15; }

body {
  background-color: #F5F5F5; }

div#form-bounding {
  display: table;
  height: 100%;
  width: 100%; }
  div#form-bounding div#main-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; }

form#post-form {
  height: 70%;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  form#post-form input#title-input {
    margin-bottom: 20px;
    width: 95%;
    font-size: 15pt; }
  form#post-form textarea#post-body {
    width: 100%;
    height: 70%; }
  form#post-form input#placeholder-tags-input {
    display: none; }
  form#post-form div#tag-input-div {
    display: inline-block;
    padding: 0px;
    margin-top: 25px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 95%;
    background-color: #fff;
    text-align: left; }
    form#post-form div#tag-input-div .nsg-tag:before {
      content: '#'; }
    form#post-form div#tag-input-div .nsg-tag {
      font-size: 13pt;
      color: #6F6F6F;
      border: 0px;
      margin: 2px;
      transition-property: opacity color;
      transition-duration: 250ms; }
    form#post-form div#tag-input-div .nsg-tag.faded {
      opacity: .6; }
      form#post-form div#tag-input-div .nsg-tag.faded .nsg-tag-remove {
        color: #FE6570; }
  form#post-form div#tag-input-div.focused {
    border: 1px solid #129FEA; }
  form#post-form input#post-validity {
    height: 0;
    width: 100%;
    border: 0;
    padding: 0;
    padding-bottom: 1px; }
  form#post-form input#tags-input {
    border: 0px;
    box-shadow: inset 0px 0px 0px #fff;
    font-size: 13pt; }
  form#post-form input:focus:invalid {
    border-color: #129FEA;
    color: #000; }
  form#post-form div#cke_post-body {
    box-shadow: 1px 2px 5px 2px #AAAAAA; }
  form#post-form button#submit-post {
    margin-top: 20px; }

/*# sourceMappingURL=add_post.css.map */
