<html>
<head>
	<link href="/static/css/pure.min.css" rel="stylesheet">
	<link href="/static/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/libs/insignia/insignia.min.css" rel="stylesheet">
	<link href="/static/libs/loaders/loaders.min.css" rel="stylesheet">
	<link href="/static/css/add_post.css" rel="stylesheet">
	<script src="/static/libs/quill/quill.min.js"></script>
	<script src="/static/libs/insignia/insignia.min.js"></script>
	<script src="/static/js/modal.js"></script>
	<script src="/static/js/add_post.js"></script>
</head>
<body>
	<div id="form-bounding" class="container">
		<div id="main-wrapper">	
			{% if post is defined %}
				<h2 id="welcome">Edit your post.</h2>
			{% else %}
				<h2 id="welcome">Submit a post to Timpani.</h2>
			{% endif %}
			<form class="pure-form" id="post-form" {% if post is defined %} action="/edit_post/{{post['post'].id}}" {% else %} action="/add_post" {% endif %} method="POST">
				<input name="post-title" id="title-input" class="pure-input" placeholder="Title" {% if post is defined %} value="{{post['post'].title}}" {% endif %} required>
				<div id="toolbar">
					<button type="button" class="ql-bold fa fa-bold pure-button"></button>
					<button type="button" class="ql-italic fa fa-italic pure-button"></button>
					<button type="button" class="ql-underline fa fa-underline pure-button"></button>
					<select class="ql-size">
						{% for i in range(17) %}
							<option value="{{12+4*i}}">{{8+4*i}}</option>
						{% endfor %}
					</select>
					<select class="ql-font">
						<option value="Arial">Arial</option>	
						<option value="Courier">Courier</option>
						<option value="Georgia">Georgia</option>
						<option value="Helvetica">Helvetica</option>
						<option value="Times New Roman">Times New Roman</option>
					</select>					<span class="pure-button pure-menu pure-menu-horizontal" id="align">
					<ul class="pure-menu-list">
						<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
						<a href="#" class="pure-menu-link" id="align-text">Align</a>
						<ul class="pure-menu-children">
							<li class="pure-menu-item" id="align-left"><a href="#" class="pure-menu-link fa fa-align-left"></a></li>
							<li class="pure-menu-item" id="align-center"><a href="#" class="pure-menu-link fa fa-align-center"></a></li>
							<li class="pure-menu-item" id="align-right"><a href="#" class="pure-menu-link fa fa-align-right"></a></li>
							<li class="pure-menu-item" id="align-justify"><a href="#" class="pure-menu-link fa fa-align-justify"></a></li>
						</ul>
						</li>
					</ul>
					</span>
					<button type="button" id="add-link" class="ql-link fa fa-link pure-button"></button>
					<button type="button" id="add-image" class="ql-image fa fa-picture-o pure-button"></button>

				</div>

				<div id="editor">
					<div>{% if post is defined %}{{ post["post"].body }}{% endif %}</div>
				</div>
				<!-- This is used to display an invalid message on the post body, since we can't set one on CKEditor-->
				<input id="post-validity">
				<input id="post-body" name="post-body">
				<div id="tag-input-div">
					<input id="tags-input" {% if post is defined %} value="{% for tag in post['tags'] %}{{tag.name}} {%endfor%}" {% endif %} placeholder="Tags">
				</div>
				<input name="post-tags" id="placeholder-tags-input">
				<button type="submit" id="submit-post" class="pure-button pure-button-primary">Submit Post</button>
			</form>
		</div>
	</div>

	<div class="modal" id="link-modal">
		<h3 class="modal-title">Add link</h3>
		<div class="modal-body">
			<div class="modal-error">Please enter a link.</div>
			<input class="pure-input" id="modal-link" placeholder="http://example.com">	
		</div>
		<div class="modal-buttons">
			<button class="pure-button neutral">Cancel</button>
			<button class="pure-button pure-button-primary positive">Add</button>
		</div>
	</div>

	<div class="modal" id="image-modal">
		<h3 class="modal-title">Add Image</h3>
		<div class "modal-body">
			<div id="url-input">
				<label for="image-url">Enter an image url</label>
				<input id="image-url" type="url" placeholder="http://">
			</div>
			<div id="or">or</div>
			<div id="file-input">
				<label for="image-upload">Upload an image</label>
				<input id="image-upload" type="file">
			</div>
		</div>
		<div class="modal-buttons">
			<button class="pure-button neutral">Cancel</button>
			<button class="pure-button pure-button-primary positive">Add</button>
		</div>
		<div class="modal-spinner ball-scale-multiple"><div></div><div></div><div></div></div>
	</div>

</body>
</html>

