<html>
<head>
	<link href="/static/css/pure.min.css" rel="stylesheet">
	<link href="/static/css/login.css" rel="stylesheet">
</head>
<body>
	<div id="login-bounding">
		<h2 id="login">Login</h2>
		{% if error is defined %}
		<div id="error">
			{{error}}
		</div>
		{% endif %}
		<form class="pure-form" id="login-form" action="/login" method="POST">
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<button type="submit" class="pure-button pure-button-primary">Login</button>
		</form>
	</div>

</body>
</html>
