<html>
<head>
	<link href="/static/css/pure.min.css" rel="stylesheet">
	<link href="/static/css/manage.css" rel="stylesheet">
</head>
<body>
	<div id="main-container" class="container">
		<div id="content-wrapper" class="container">
			<h2 id="title">Hi, {{user.username}}. Welcome to Timpani.</h2>
			<div id="buttons">
				<a href="/add_post"><button id="add-post" class="pure-button button-xlarge">Add a post</button></a>
				<a href="/manage_posts"><button id="manage-posts" class="pure-button button-xlarge">Manage posts</button></a>
				<button id="settings" class="pure-button button-xlarge">Settings</button>
			<div>	
		</div>
	</div>

</body>
</html>

