<html>
<head>
	<link href="/static/css/manage_posts.css" rel="stylesheet">
	<link href="/static/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div id="main-container">
		<div id="content-container">
			<h2 id="title">Manage posts.</h2>
			<ul id="posts-list">
				{% for post in posts %}
					<li class="post">
						<span class="post-title">{{post.title}}</span>
						<span class="buttons">
							<a href="/edit_post/{{post.id}}"><span class="button edit fa fa-pencil-square-o"></span></a>
							<span class="button delete fa fa-times-circle"></span>	
						</span>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</body>
</html>
