<!DOCTYPE html>
<html>
<head>
	<link href="/static/libs/pure/pure-min.css" rel="stylesheet">
	<link href="/static/libs/prism/prism.css" rel="stylesheet">
	<script src="/static/libs/prism/prism.min.js"></script>
	<script src="/static/js/posts.js" rel="stylesheet"></script>
	<style>
		{{theme}}
	</style>
</head>
<body>
	{% if blogTitle is defined %}
		<header>
			<div id="header-wrapper">
				<div id="header-content-wrapper">
					<h2 class="title">
						{{blogTitle}}
					</h2>
					{% if blogSubtitle is defined and blogSubtitle is not none %}
						{% if blogSubtitle|length > 0 %}
							<h3 class="subtitles">
								{{blogSubtitle}}
							</h3>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</header>
	{% endif %}
	<ul id="posts-list">
		{% for item in posts %}
			{% set post = item["post"] %}
			{% set tags = item["tags"] %}
			<li class="post" id="{{post.id}}">
				<h2 class="post-title title">{{post.title}}</h2>
				<div class="post-metadata"> by 
					<span class="author">
						{% if displayName == "full_name" %} {{post.author.full_name}} {% elif displayName == "username" %} {{post.author.username}} {% endif %} 
					</span> 
					on <a href="/post/{{post.id}}"><span class="timestamp">{{post.time_posted.strftime("%A %B %d at %I:%M %p")}}</span></a>
				</div>
				<div class="post-body">
					{{post.body|safe}}

					{% if tags|length > 0 %}
						<ul id="tags-list">
							{% for tag in tags %}
								<li class="tag"> <a href="/tag/{{tag.name}}">#{{tag.name}}</a> </li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</li>
		{% endfor %}
	</ul>
</body>
</html>
