<html>
<head>
	<link href="/static/css/posts.css" rel="stylesheet">
	<link href="/static/libs/prism/prism.css" rel="stylesheet">
</head>
<body>
	<ul id="posts-list">
		{% for item in posts %}
			{% set post = item["post"] %}
			{% set tags = item["tags"] %}
			<li class="post" id="{{post.id}}">
				<h2 class="post-title title">{{post.title}}</h2>
				<div class="post-metadata"> by <span class="author">{{getPostAuthor(post.author)}}</span> at <span class="timestamp">{{post.time_posted.strftime("%A %B %w at %I:%M %p")}}</span></div>
				<div class="post-body">
					{{post.body|safe}}
				</div>
			</li>
			{% if tags|length > 0 %}
				<ul id="tags-list">
					{% for tag in tags %}
						<li class="tag">#{{tag.name}}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endfor %}
	</ul>
</body>
<footer>
	<script src="/static/libs/prism/prism.min.js"></script>
</footer>
</html>
